{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<center><h1> Contact Us </h1></center> <br /> <br />
		<h3>
		<div class='row'>
			<div class='col-sm-4'><br />
				
				Souvik Gayen
			</div>
			<div class='col-sm-4'> <br />
				14114061
			</div>
			<div class='col-sm-4'>
				<img src="{% static 'img/souvik.jpg' %}" style="width:100px;height:100px;" />
			</div>
			 &nbsp; e-mail : gayensouvik1@gmail.com
		</div>
		<br /> <br />
		<div class='row'>
			<div class='col-sm-4'><br />
				Saroj Mandal
			</div>
			<div class='col-sm-4'><br />
				14114050
			</div>
			<div class='col-sm-4'>
				<img src="" style="width:100px;height:100px;" />
			</div>

		</div>
		</h3>
	</div>
</div>

{% endblock %}